<!--
  slots/postView/contentBottom.html  (Slotify.slots.postView.contentBottom)
  INSIDE the post BaseSurface, directly below the article body (before the
  surface closes). Ideal for an author bio, license notice, or call-to-action
  that should sit with the content rather than below the card. Override in your
  own site. Receives `ctx`: { pageData, error, siteConfig, route, t }.
-->
<script type="text/x-template" id="slot-postView-contentBottom-template">
  <!-- Empty by default. Override this file to add content below the article. -->
</script>
